:root {
  --display-var: none;
}
* {
  scroll-behavior: smooth;
  user-select: none;
  font-family: poppins, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
body {
  zoom: 80%;
  background-color: rgb(221 221 221 / 94%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: #fff;
  padding: 0 2px;
  text-decoration: none;
}
.container {
  padding: 20px;
  max-width: 1300px;
  margin: auto;
}
.smaller-container {
  max-width: 1080px;
  margin: auto;
}

.navbar {
  min-width: 500px;
  overflow: hidden;
  height: 80px;
  display: flex;
  margin: 13px 0px;
  padding: 2px 20px;
  align-items: center;
}
.navbar #logo {
  background-image: url(/public/assets/images/logo3-removebgorg.png);
  min-height: 95px;
  min-width: 329px;
}
ul li a:hover {
  color: #ff9670;
}

nav {
  flex: 1;
  display: inline;
  text-align: right;
}

ul {
  height: 80px;
  align-items: center;
  align-self: center;
  list-style-type: none;
}
nav ul li {
  position: relative;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  /* color: #555; */
}
.nav-link {
  font-size: 25px;
  font-weight: bold;
}
nav ul img {
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: 80px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  background-image: linear-gradient(
    to left,
    #2ecc71,
    #3498db,
    #9b59b6,
    #f39c12
  );
}

.nav-link::after {
  /* position: absolute;
  top: 50px;
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #ffa4a2;
  border-radius: 30px;
  transition: width 0.3s; */
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 50px;
  top: 50px;
  margin-top: 4px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}
.nav-link:hover::after {
  /* width: 100%;
  color: #ffa4a2;
  transition: width 0.3s; */
  visibility: visible;
  transform: scaleX(1);
  text-decoration: none;
}
.nav-link:last-child {
  display: block;
}
nav ul li a :last-child {
  font-size: 35px;
}
#signup-btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: linear-gradient(
    to left,
    #2ecc71,
    #3498db,
    #9b59b6,
    #f39c12
  );
}
button {
  cursor: pointer;
}
#signup-btn button {
  font-size: 20px;
  font-weight: bold;
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
#signup-btn button:hover {
  background-color: #ff9670;
  color: #ffffff;
}
.main-content {
  position: relative;
  padding: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main-content .col-2 h1 {
  color: #f7f7f7;
  letter-spacing: 0.1px;
  font-family: "Fira Sans", sans-serif;
  line-height: 60px;
  margin: 20px 0;
  font-size: 50px;
  font-weight: 900;
}
.col-2 p {
  color: wheat;
}
.btn-explore a {
  color: #fff;
}
.btn-explore {
  display: inline-block;
  background: #ff523b;

  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
}
.btn-explore:hover {
  background: #ff0000;
}
.col-2 {
  word-wrap: normal;
  max-width: fit-content;
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 50px;
}
#cart {
  padding: 10px 20px 0px;
}
#cart img {
  cursor: pointer;
}
.menu {
  display: none;
  cursor: pointer;
  padding: 0px 10px;
}
.signOut-btn {
  color: #e1411c;
  font-size: 30px;
  cursor: pointer;
  padding-top: 10px;
  margin: 1px;
}

.overlayer {
  visibility: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 122, 122, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.slide-img:hover .overlayer {
  visibility: visible;
  animation: fade 0.5 ease;
}

.add-to-cart {
  font-family: poppins;
  display: flex;
  width: 160px;
  font-size: 20px;
  height: 40px;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: coral;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.add-to-cart:focus {
  outline: none;
  box-shadow: none;
}
.add-to-cart:hover {
  background-color: #ff9670;
  color: #ffffff;
}
/* offer */
.offer {
  margin-top: 80px;
  background: radial-gradient(#e5a947, #ff6d00);
}
/* footer */
#footer {
  padding: 4em 0 0em 0;
  background-color: #1b1b1f;
  text-align: center;
}
#footer h2 {
  color: rgb(168, 168, 168);
}
#footer h2:hover {
  color: #fff;
  transform: scale(1.1, 1.1);
}
#footer .inner {
  padding: 2em 0 0 0;
  border-top: solid 2px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  width: 80%;
}
.mobie-app ul {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.mobie-app ul li {
  padding: 0px 10px;
}
.mobie-app h2 {
  margin: 0;
  padding: 0;
}

#source-info {
  padding: 100px;
}
#footer .icons {
  display: flex;
  justify-content: center;
}
#footer .icons li {
  margin: 0px 20px;
}
#footer .icons li a {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: 900;
  text-transform: uppercase;
}

.source:hover {
  color: #fff;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* responsive*/
@media screen and (max-width: 1200px) {
  #menuItems {
    flex-basis: 1;
    border-radius: 6px;
    z-index: 1000;
    background-color: #49515c;
    position: absolute;
    right: 100px;
    width: 30%;
    display: none;
    margin-top: 30px;
    transition: display 0.4s;
  }

  .scroll-down {
    bottom: 20px;
  }
  .col-2 img {
    padding: 30px;
  }
  nav ul li {
    border-bottom: 2px #dfdfdf solid;
    text-align: right;
    background-color: #ff6600;
    width: 100%;
  }
  nav ul li:hover {
    background-color: #303030;
  }
  #circle-avt {
    display: none;
  }
  .nav-link {
    line-height: 50px;
    padding-right: 40px;

    font-weight: lighter;
    font-size: 20px;
  }
  .nav-link::after {
    font-size: 20px;
    display: none;
  }
  .text-feilds {
    padding-top: 16px;
    border-radius: 6px;
    position: relative;
    min-width: 0px;
    background-color: #1e2832;
  }
  .menu {
    display: flex;
    margin-right: 1px;
  }
  #menuItems li:last-child {
    display: none;
  }
  #footer .icons li {
    margin: 0px 10px;
  }
  #footer .inner {
    width: 75%;
  }
}
@media screen and (max-width: 980px) {
  nav ul {
    display: none;
  }
  .mobie-app ul {
    display: block;
  }
  .col-2 img {
    padding: 30px;
  }

  #footer .inner {
    width: 75%;
  }
  .modal-content {
    width: 70%;
  }
  .product-detail p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
  }
}

@media screen and (max-width: 736px) {
  .scroll-down {
    display: none;
  }

  #logo {
    display: none;
  }
  #cart {
    display: none;
  }
  .col-2 {
    flex-basis: 1;
  }
  #banner-logo {
    display: none;
  }
  #footer {
    padding: 3em 0 1em 0;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    display: none;
  }
  .navbar {
    min-width: 100px;
  }
  .scroll-down {
    display: none;
  }
  #footer .icons {
    display: contents;
  }
  #footer .inner {
    width: 90%;
  }
}

.single-product {
  margin-top: 80px;
}
.single-product .row {
  justify-content: center;
}
.single-product .col-2 {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product .col-2 .row {
  justify-content: space-between;
  padding: 20px;
}
#selector {
  padding-right: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.img-container {
  height: fit-content;
  width: 100%;
  object-fit: cover;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
